[pause_resume]

[filament_switch_sensor runout_sensor]
pause_on_runout: True
switch_pin: ^PC15
runout_gcode: PAUSE
insert_gcode: RESUME

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    # Save the current Z position and purge volume
    G91
    G0 Z10 F1800 ; Raise Z
    G90
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    
    # Retract filament to prevent oozing
    G92 E0
    G1 E-1.5 F1800
    
    # Park the head in the front-left corner
    G0 X10 Y10 F6000
    
    PAUSE_BASE

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
    # Retract filament to compensate for the re-prime
    G92 E0
    G1 E1.5 F1800
    
    # Restore position and resume print
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    RESUME_BASE

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    # Turn off heaters and park the head
    M104 S0
    M140 S0
    G91
    G0 Z10 F1800
    G90
    G0 X10 Y10 F6000
    
    CANCEL_PRINT_BASE


[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=unload_state
    G91 ; Relative positioning
    M117 Unloading filament...
    
    ; Heat up hotend to printing temp if cold
    {% if printer.extruder.temperature < 180 %}
        M117 Heating hotend...
        M109 S220
    {% endif %}
    
    M117 Shaping tip...
    G1 E2 F300     ; Push forward slightly to clear any plug
    G1 E-10 F3600  ; Quick 10mm jerk to snap the molten tip cleanly
    G4 P500        ; Pause half a second for the tip to cool slightly
    
    M117 Retracting...
    G1 E-35 F1200  ; Unload the remaining 35mm to clear the gears
    
    M117 Unload complete
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=load_state
    G91 ; Relative positioning
    M117 Loading filament...
    
    ; Heat up hotend to printing temp if cold
    {% if printer.extruder.temperature < 180 %}
        M117 Heating hotend...
        M109 S220
    {% endif %}
    
    M117 Feeding...
    G1 E35 F600    ; Fast feed 35mm through the short toolhead path
    
    M117 Purging...
    G1 E20 F200    ; Slow 20mm purge to prime the nozzle
    
    M117 Load complete
    RESTORE_GCODE_STATE NAME=load_state




    